.postsContainer {
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.postsIntroduction {
    color: #282B3A;
}

.postsIntroduction h1 {
    padding-bottom: 30px;
    font-size: 1.5rem;
}

.postCards {
    display: inline-grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}